#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.form-control {
    color: black;
}

.form-control:focus {
    color: black;
}

.table th {
    padding: 5px;
}

.table td {
    padding: 0px 5px;
    vertical-align: middle;
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 3px;
    margin: 3px 0 3px 2px;
}

.quantity {
    width: 70px;
    padding: 0px 7px;
}

#cart-table .form-control {
    margin-bottom: 5px;
}

#add-new-btn {
    margin-top: -10px;
}

[id*='_sb'] {
    text-transform: capitalize;
}

[id*='_ub'] {
    text-transform: capitalize;
}

.timer {
    color: white;
    font-size: 16px;
    margin-top: 12px;
    margin-right: 18px;
}

@media (max-width: 991px) {
    .timer {
        display: none !important;
    }
}